{% extends "::base.html.twig" %}

{% block menu %}
    <li class="active"><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
{% endblock %}

{% block body %}
<div class="row">
    <div class="span4 offset4">
            <h2>Connexion</h2>
            {% if error %}
                <div class="text-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">Adresse e-mail :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="span4"/>

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" required="required" class="span4"/>

                <label class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    Se souvenir de moi
                </label>

                <input type="submit" id="_submit" name="_submit" value="Connexion" class="btn btn-primary" />
            </form>
    </div>
</div>
{% endblock body %}
